.NavBar {
  background-color: var(--primary);
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.NavBar ul {
  display: flex;
  margin: 0 15%;
}

.NavBar li {
  list-style: none;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.NavBar a {
  text-decoration: none;
  color: var(--primary-text);
}

.NavBar a:hover {
  cursor: pointer;
}
