.EloTableSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.EloTableSection h1 {
  color: var(--text-primary);
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: normal;
}

.EloTableContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
