@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
  --primary: #1c1196;
  --secondary: #f5f5f5;
  --primary-text: rgb(14, 14, 14);
  --large-content-width: 1250px;
  --font-large: 1.35rem;
  --font-medium: 1.15rem;
  --fail: rgb(211, 0, 0);
  --success: rgb(1, 134, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
