.game {
  display: flex;
  background-color: var(--secondary);
  margin-top: 1rem;
  padding: 0.25rem;
  color: var(--primary-text);
  border-radius: 0.25rem;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.game__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 280px;
}

.game__team h1 {
  font-size: var(--font-large);
  font-weight: 600;
}

.game__team h2 {
  font-size: var(--font-medium);
  font-weight: 400;
}

.good {
  color: var(--success);
}

.bad {
  color: var(--fail);
}
